body {
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
  }
  .light-blue-font {
    color: rgb(32, 32, 255);
  }
  .dark-blue-font {
    color: rgb(0, 0, 155);
  }
  a {
    color: black;
    text-decoration: none;
    color: rgb(0, 0, 155);
  }

  button {
    padding: 9px 25px;
    font-family: 'Roboto Condensed', sans-serif;;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    font-weight: 500;
    font-size: 20px;
    color: black;
    text-decoration: none;
}

/* This is used to style the header which includes logo, navbar and search,login options  */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}
.logo {
    cursor: pointer;
    padding: 0px;
    margin: 0px;
}
.nav_links{
    list-style: none;
}
.nav_links li {
    display: inline-block;
    padding: 0px 20px;
}
.search{
    border: 1px dashed black;
    font-size: 20px;
    border-radius: 20px;
}
.nav_links a{
    transition: all 0.3s ease 0s;
}
.nav_links a:hover{
    color: blue;
}

/* This is for the main tagline of this website */
.left-textbox{
    padding: 20px;
    margin-top: 100px;
    
    display: inline-block;
    width: 39%;
    /* border: 2px solid red; */
    box-shadow: 2px 2px 6px rgb(255, 255, 255);
    background-color: rgb(255, 255, 255);
    border-radius: 50px;
    font-size: 23px;
}
.left-textbox p{
    font-size: 20px;
}

/* This is for the buy,sell and rent button  */
.threebuttons{
    margin: 40px;
    width: 300px;
       
}

.back-image {
    position: absolute;
    z-index: -1;
    top: 100px;
    left: 480px;
    background-size: 20px;
    width: 300px;
    height: 300px;
  }





/* This is for the form box where the user will enter city, select their apt type and give their price range and if the want more filtering options theres also a advance filter  */
.form-box{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 20px;
    /* border: 2px solid red; */
    /* box-shadow: 2px 2px 6px lightgray; */
    box-shadow: 2px 2px 6px rgb(255, 255, 255);
    background-color: rgb(255, 255, 255);
    width: 60%;
    border-radius: 20px;
    
    
}
.form-group{
    padding: 30px;
    
    
}
input::placeholder {
    color: blue;
}
.form-box a{
    font-size: 20px;
    margin: 10px;
}
.advance-filter{
    padding: 20px;
}
select{
    color: blue;
}

/* This is for dream apts where the user is able to select their dream apt and click on continue then it will redirect to their desired apartment  */
.dapt{
    text-align: center;
}
.dream-apt p{
    font-size: 20px;
}
.dream-apt h1{
    color: rgb(0, 0, 100);
}
.dream-apt h1::first-line{
    color: rgb(67, 67, 250);
}
[type=radio] { 
    
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}
/* IMAGE STYLES */
[type=radio] + img {
    cursor: pointer;
}
/* CHECKED STYLES */
[type=radio]:checked + img {
    outline: 2px solid #f00;
}

.continue{
    margin-top: 50px;
    margin-left: 500px;
}


.title{
    text-align: center;
}
section.gallery {
    margin: 10px;
    display: flex;
    flex-direction: column;
}
  
.gallery > ul {
    display: flex;
    /* padding: 2em 0em 2em 0em; */
    justify-content: center;
}
.apt-card {
    background-color: white;
    padding: 30px 30px 30px 30px;
    border-radius: 2em;
    box-shadow: 2px 2px 6px lightgray;
    margin: 1em;
}
  
.apt-img {
    display: flex;
    position: relative;
}
  
.apt-img > img:nth-child(1) {
    border-radius: 2em;
}
  
.apt-img > div > img {
    filter: brightness(0) invert(1);
}
  
.for-rent {
    background-color: #61ff05;
    font-size: 15px;
    padding: 0px 14px;
    margin: 0px 359px;
    /* border-radius: 12px; */
    position: absolute;
    /* right: 0; */
}
.bath-tub{
    margin: -45px 0px 28px 26px;
    width: auto;
    height: 30px;
}
.away{
    background-color: #666;
    font-size: 15px;
    position: absolute;
    padding: 0px 5px;
    margin: 9px 7px;
    border-radius: 23px;
}
  
/* .train-details {
    display: flex;
    justify-content: space-between;
    padding: 0em 1em 0em 1em;
    margin: 0.25em 0em 0em 0.25em;
} */
.fsize{
    font-size: 25px;

}
.str{
    font-size: 20px;
}
.rating {
    display: flex;
    background-color: #bad5f0;
    
    font-size: 15px;
    margin-top: 50px;
    margin-left: 0px;
}
.info{
    padding: 10px;
    
}
.infos{
    display: flex;
    width: 10%;
    font-size: 20px;
}
  
.rating > div > p:nth-child(2) {
    white-space: nowrap;
}


  
.dots > span {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    display: inline-block;
    margin-left: 20px;
    align-items: center;
}

  .light-blue {
    background-color: #98bbdf;
}
  .dark-blue {
    background-color: #0054a6;
}